.hero {
}
.hero__container {
  padding-top: 44px;
  position: relative;
  overflow-x: hidden;
  @media (min-width: $width-tablet) {
    padding-top: 15px;
    padding-bottom: 60px;
  }

  @media (min-width: $width-tablet-h) {
    column-gap: 54px;
    display: grid;
    grid-template-columns: 1fr 435px;
    overflow: initial;
  }
  @media (min-width: $width-desktop) {
    padding-left: 33px;
    column-gap: 82px;
    align-items: start;
    justify-content: start;
    grid-template-columns: 1fr 560px;
  }
}
.hero__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  margin-bottom: 24px;
  padding-right: 31%;

  @media (min-width: $width-tablet) {
    padding-right: 0;
    font-size: 46px;
    line-height: 65px;
    margin-bottom: 18px;
  }
  @media (min-width: $width-tablet-h) {
    margin-bottom: 40px;
  }
  @media (min-width: $width-desktop) {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 22px;
  }
}

.hero__features {
  margin-bottom: 16px;

  @media (min-width: $width-tablet) {
    margin-bottom: 17px;
  }
  @media (min-width: $width-tablet-h) {
    margin-bottom: 40px;
  }
  @media (min-width: $width-desktop) {
    margin-bottom: 17px;
  }
}

.hero__text-wrap {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    padding-left: 4px;
    padding-right: calc(263 / 768 * 100vw);
  }
  @media (min-width: $width-tablet-h) {
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width: $width-desktop) {
    font-size: 25px;
  }
}
.hero__text {
  color: $text-color;

  &:not(:last-child) {
    margin-bottom: 10px;

    @media (min-width: $width-tablet) {
      margin-bottom: 15px;
    }
  }
}
.hero__text--desktop-hidden {
  @media (min-width: $width-tablet-h) {
    display: none;
  }
}
.hero__super-img-wrap {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -112px;
  width: 245px;
  height: 245px;

  @media (min-width: $width-tablet) {
    top: 22%;
    right: -169px;
    width: 410px;
    height: 410px;
  }

  @media (min-width: $width-tablet-h) {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
    top: initial;
    right: initial;
    grid-column: 2/3;
    grid-row: 1 / span 3;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      width: 458px;
      height: 416px;
      bottom: -23px;
      left: -23px;
      background: linear-gradient(0deg, rgba(250, 250, 250, 0) 0%, #ffffff 44.79%);
    }

    &::after {
      content: "";
      position: absolute;
      z-index: -2;
      width: 458px;
      height: 416px;
      bottom: -23px;
      left: -23px;
      background: url("../img/img-star.png");
      background-size: 59px 55px;
      background-position-y: 3px;
      background-repeat: repeat;
      opacity: 0.15;
    }
  }

  @media (min-width: $width-desktop) {
    &::before,
    &::after {
      width: 620px;
      height: 563.26px;
      bottom: -87px;
      left: -53px;
    }
    &::after {
      background-size: 80px 80px;
      background-position: 0px 0px;
    }
  }
}

.hero__super-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.hero-features {
}
.hero-features__item {
}
