body {
  margin: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  outline: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: 0;
}
