$min-width: 320 + px;
$max-width: 1596 + px;
$width-mobile: 320 + px;
$width-mobile-h: 667 + px;
$width-tablet: 767 + px;
$width-tablet-h: 1280 + px;
$width-desktop: 1440 + px;

$font-family: "Lato", "Arial", sans-serif;
$input-border-color: #e9e8e8;
$primary-color: #cf51ce;
$text-color: rgba(51, 26, 47, 0.8);
$text-heading-color: #331a2f;
$text-hint-color: #878c90;

$form-box-shadow: 0px 5px 25px rgba(34, 60, 47, 0.15);
$form-border-radius: 6px;
